<div class="p-0 m-5">
    <div class="row no-gutters">
      <div class="col-md-6 bg-primary">
        <div class="d-flex h-100 align-items-center">
          <div class="w-100 text-center">
            <h1 class="text-white">Welcome to Our School</h1>
            <p class="lead text-white">The best place to get education and shape your future.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 bg-light">
        <div class="d-flex h-100 align-items-center">
          <div class="w-100 text-center">
            <img src="https://img.etimg.com/thumb/msid-77391367,width-1200,height-900,imgsize-677864,overlay-etpanache/photo.jpg" alt="School Logo" width="300" height="200">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container my-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <i class="fas fa-book fa-4x mb-3 text-primary"></i>
            <h5 class="card-title">Academics</h5>
            <p class="card-text">Explore our academic programs and courses.</p>
            <a href="#" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <i class="fas fa-chalkboard-teacher fa-4x mb-3 text-success"></i>
            <h5 class="card-title">Teachers</h5>
            <p class="card-text">Meet our team of dedicated teachers.</p>
            <a  class="btn btn-success">Know More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <i class="fas fa-users fa-4x mb-3 text-danger"></i>
            <h5 class="card-title">Students</h5>
            <p class="card-text">Get to know our students and their achievements.</p>
            <a href="#" class="btn btn-danger">Know More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  