<div style="width: 90%; margin: auto; padding-top: 50px;">

<marquee behavior="scroll" direction="left" class="py-5">
   <h3> <span class="material-symbols-outlined" style="vertical-align: bottom;color: red;">
    campaign
    </span> Exam Notification: Students, please be informed that exams will be held next week. Be prepared and study hard. Good luck!</h3>
  </marquee>


<div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <iframe src="https://www.youtube.com/embed/1G4isv_Fylg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <div class="caption">
            <h3>Video 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <iframe src="https://www.youtube.com/embed/2G4isv_Fylg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <div class="caption">
            <h3>Video 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <iframe src="https://www.youtube.com/embed/3G4isv_Fylg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <div class="caption">
            <h3>Video 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>